form {
  margin-right: 0;
}
h1 {
  margin: 30px;
}

li {
  list-style: none;
  color: grey;
}
body {
  margin: 20px;
  padding: 10px;
}
ul {
  margin: 20px;
}
.nextDays li {
  display: inline;
  padding: 20px;
  margin: auto;
  background-color: #ffefc4;
}
