form {
  margin-right: 0;
}
h1 {
  margin-left: 20px;
}

li {
  list-style: none;
  color: grey;
}

.nextDays li {
  display: inline;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-width: 1px;
  border-color: grey;
}
.card {
  color: blue;
}
