form {
  margin-right: 0;
}
h1 {
  margin: 30px;
}

li {
  list-style: none;
  color: grey;
}
body {
  margin: 20px;
  padding: 10px;
}
ul {
  margin: 20px;
}
input {
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
}

.nextDays li {
  display: inline;
  padding: 20px;
  margin: auto;
  background-color: #ffefc4;
}

.coded-by {
  text-align: center;
  font-family: "Nunito", sans-serif;
  margin-top: 30px;
  font-size: 10px;
  margin-bottom: 5px;
}

.forecastDate {
  display: inline;
  text-align: center;
  font-size: 14px;
}

.forecastTemp {
  display: inline;
  text-align: center;
  font-size: 12px;
}

.forecastIcon {
  display: block;
  margin: auto;
  width: 46px;
}

.forecast {
  margin: 10px;
}
.card .col-2 {
  background-color: #fffce5;
  margin: 5px;
}
